<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WikiApp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('articles') }}">Articles</a> |
        <a href="{{ url_for('users_list') }}">Utilisateurs</a> |
        <a href="{{ url_for('populate_db') }}">Peupler DB</a>
        <a href="{{ url_for('populate_schedule') }}">Planifier</a>
    </nav>
    <form action="{{ url_for('search') }}" method="get" class="global-search">
    <input type="text" name="q" placeholder="Rechercher un article ou un utilisateur…" required>
    <button type="submit">🔍</button>
</form>

    <hr>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>